@model Connect4.Models.Torneio
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Torneio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        @if (SignInManager.IsSignedIn(User))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.QuantidadeJogadores)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QuantidadeJogadores)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Premiacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Premiacao)
            </dd>
            @if (User.Identity.Name == Model.Dono)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Inicio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Inicio)
                </dd>
            }
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
