@model IEnumerable<Connect4.Models.Torneio>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Torneios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeJogadores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premiacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            @if (SignInManager.IsSignedIn(User))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeJogadores)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Premiacao)
                </td>
                @if (User.Identity.Name == item.Dono)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Inicio)
                    </td>
                }
                else
                {
                    <td>---</td>
                }
            }
            else
            {
                <td>---</td>
                <td>---</td>
            }
        <td>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a>

            @if (SignInManager.IsSignedIn(User))
            {
                <span>|</span> <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <span>|</span> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                @if (item.Jogos.Count == 0)
                {
                    <span>|</span> <a asp-action="SelecionarJogadores" asp-route-id="@item.Id">Adicionar Jogadores</a>
                    @if (item.Jogadores.Count == item.QuantidadeJogadores)
                    {
                        <span>|</span> <a asp-action="GerarJogos" asp-route-id="@item.Id">Gerar Jogos</a>
                    }
                }
                else
                {
                    <span>| Jogos já gerados</span>
                }
            }
        </td>
        </tr>
}
    </tbody>
</table>
